@use '../components/slideshow';

.product--location > h3, .product--title > h2 {
  margin-bottom: 5px;
  margin-top: 0;
}
.info--house {
    width: 90%;
  }
  .info--brief {
    align-items: start;
    width: 100%;
    margin: 10px;
  }
  .product, .product--title{
    align-items: flex-start;
    flex-direction: column;
  }
  .product--container {
    width: 400px;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .product--location {
    font-size: small;
  }
  .product--tags {
    justify-content: flex-start;
    width: 100%;
  }
  .product--tags > .tag > h3 {
    font-size: small;
    color: #fff;
    border-radius: 20px;
    margin-right: 5px;
    padding: 10px 25px 10px 25px;
    background-color: #FF6060;
  }
  .host--container {
    justify-content: flex-end;
    max-width: 230px;   
    flex-grow: 1;
  }
  .host--name > p {
    font-size: medium;
    padding: 2%;
    text-align: center ;
  }
  .host--picture > img {
    width: 70px;
    border-radius: 50%;
  }
  .rating {
    order: 2;
    margin-top: 15px;
    justify-content: flex-start;
  }
  