@use '../components/slideshow';

.info--house {
    width: 90%;
  }
  .info--brief {
    align-items: start;
    width: 100%;
  }
  .product, .product--title{
    align-items: flex-start;
    flex-direction: column;
  }
  .product--container {
    height: 100%;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .product--location {
    font-size: small;
  }
  .product--tags {
    justify-content: flex-start;
    width: 100%;
  }
  .product--tags > .tag > h3 {
    font-size: small;
    color: #fff;
    border-radius: 20px;
    margin-right: 5px;
    padding: 10px 25px 10px 25px;
    background-color: #FF6060;
  }
  .host--container {
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: nowrap;
  }
  .host--name > p {
    font-size: medium;
    padding: 2%;
    text-align: center ;
  }
  .host--picture > img {
    width: 70px;
    border-radius: 50%;
  }
  