/* NOTFOUND */
.notfound {
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Montserrat-bold";
  }
  .text-big {
    font-weight: 500;
    font-size: 288px;
    color: #FF6060;
  }
  .text-medium {
    font-family: "Montserrat";
    font-size: 28px;
    text-align: start;
    max-width: 70%;
    color: #FF6060;
  }
  .text-small {
    font-family: "Montserrat";
    font-size: 22px;
  }
  