
/* .dropdown-open */
.dropdown-open
{
position: absolute;
width: 582px;
height: 52px;
left: 55px;
top: 557px;
}

/* Rectangle 4 */
.dropdown-open > .rect_4_white
{
position: absolute;
left: 0%;
right: 0%;
top: 80.77%;
bottom: -459.62%;

background: #F7F7F7;
border-radius: 10px;
}

/* Rectangle 4 */
.dropdown-open > .rect_4_red
{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;
}

/* arrow_back_ios-24px 2 */
.dropdown-open > .arrow_back_ios-24px_2
{
position: absolute;
left: 98.45%;
right: -3.95%;
top: 19.23%;
bottom: 19.23%;

transform: rotate(90deg);
}

/* Vector */
.dropdown-open > .arrow_back_ios-24px_2 > .opacity
{
position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

opacity: 0.87;
transform: rotate(90deg);
}

/* Vector */
.dropdown-open > .arrow_back_ios-24px_2 > .bg
{
position: absolute;
left: 91.25%;
right: -39.88%;
top: 24.33%;
bottom: -6.83%;

background: #FFFFFF;
transform: rotate(90deg);
}

/* Équipements */
.dropdown-open > .equipment
{
position: absolute;
left: 3.44%;
right: 75.26%;
top: 25%;
bottom: 25%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

color: #FFFFFF;
}


/* Climatisation Wi-Fi Cuisine Espace de travail Fer à repasser Sèche-cheveux Cintres */
.dropdown-open > .climatisation
{
position: absolute;
left: 3.44%;
right: 2.06%;
top: 157.69%;
bottom: -407.69%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.6%;
/* or 26px */

color: #FF6060;
}
