
/* .dropdownlarge-close */
.dropdownlarge-close
{
position: absolute;
width: 1023px;
height: 47px;
left: 55px;
top: 910px;
}

/* Rectangle 4 */
.dropdownlarge-close > .rect_4
{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 5px;
}

/* arrow_back_ios-24px 2 */
.dropdownlarge-close > .arrow_back_ios-24px_2
{
position: absolute;
left: 94.23%;
right: 2.94%;
top: 80.77%;
bottom: -42.3%;

transform: rotate(-90deg);
}

/* Vector */
.dropdownlarge-close > .arrow_back_ios-24px_2 > .opacity
{
position: absolute;
left: 0%;
right: 0%;
top: 100.01%;
bottom: -100.01%;

opacity: 0.87;
transform: rotate(-90deg);
}

/* Vector */
.dropdownlarge-close > .arrow_back_ios-24px_2 > .bg
{
position: absolute;
left: 8.75%;
right: 42.63%;
top: 75.67%;
bottom: -58.17%;

background: #FFFFFF;
transform: rotate(-90deg);
}

/* Fiabilité */
.dropdownlarge-close > .arrow_back_ios-24px_2 > .reliability
{
position: absolute;
left: 1.77%;
right: 88.75%;
top: 11.93%;
bottom: 15.72%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
display: flex;
align-items: center;

color: #FFFFFF;
}
