footer {
    padding: 15px;
    width: 100%;
    flex-direction: column;
    background-color: black;
    color: #fff;
    font-weight: lighter;
  }
  footer, header {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: bold;
  }
  footer > text {
    width: 90%;
  }