a {
    color: #000;
    text-decoration: none;
  }
  nav {
    width: 90%;
    justify-content: flex-end;
  }
  .navigation {
    margin-left: 20px;
  
  }
  .navigation > a {
    border-bottom: 2px solid #fff;
  }
  .navigation > a:hover {
    border-bottom: 2px solid #000;
  }
  header {
    flex-wrap: nowrap;
    margin: 20px 0 20px 0;
    width: 90%;
    justify-content: space-between;
  }
  nav > div {
    flex-wrap: nowrap;
  }
  .navigation:has(> .active) {
    border-bottom: 2px solid #000;
  }