/* D_A-Propos */
.d_about
{
position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

/* Miguel */
.d_about > .miguel
{
position: absolute;
left: 15.7%;
right: 78.09%;
top: 92.34%;
bottom: 4.74%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 142.6%;
/* or 19px */
display: flex;
align-items: center;

color: #FFFFFF;
}

/* kalen-emsley-Bkci_8qcdvQ-unsplash 1 */
.d_about > .kalen-emsley_img
{
position: absolute;
width: 4096px;
height: 2731px;
left: -1600px;
top: -1066px;
}

