
/* D_Home */
.d_home
{
position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

/* _Header */
.d_home > .header
{
position: absolute;
width: 1240px;
height: 68px;
left: 100px;
top: 40px;
}

/* .LOGO */
.d_home > .header .logo
{
position: absolute;
left: 0%;
right: 83.04%;
top: 0%;
bottom: 0%;
}


/* Vector */
.d_home > .header > .logo >.group > .vector_0.bg
{
position: absolute;
left: 0%;
right: 95.62%;
top: 0%;
bottom: 8.45%;

background: #FF6060;
}

/* Vector */
.d_home > .header > .logo > .group > .vector_1.bg
{
position: absolute;
left: 9.58%;
right: 87.24%;
top: 21.53%;
bottom: 7.89%;

background: #FF6060;
}

/* Vector */
.d_home > .header > .logo > .group > .vector_2.bg
{
position: absolute;
left: 13.66%;
right: 83.04%;
top: 21.25%;
bottom: 7.9%;

background: #FF6060;
}

/* Group */
.d_home > .header > .logo > .group > .bg
{
position: absolute;
left: 4.86%;
right: 91.43%;
top: 21.53%;
bottom: 0%;
}


/* Vector */
.d_home > .header > .logo > .group > .vector
{
position: absolute;
left: 7.38%;
right: 92.19%;
top: 68.66%;
bottom: 8.17%;

background: #FF6060;
}

/* Vector */
.d_home > .header > .logo > .group > .vector
{
position: absolute;
left: 4.86%;
right: 91.43%;
top: 21.53%;
bottom: 0%;

background: #FF6060;
}

/* _Nav */
.d_home > .header > .nav
{
position: absolute;
left: 75.08%;
right: 0%;
top: 25%;
bottom: 25%;
}


/* Accueil */
.d_home > .header > .nav > .welcome
{
position: absolute;
left: 75.08%;
right: 13.95%;
top: 25%;
bottom: 25%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: underline;

color: #FF6060;
}


/* A Propos */
.d_home > .header > .nav > .about
{
position: absolute;
left: 90.65%;
right: 0%;
top: 25%;
bottom: 25%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */
display: flex;
align-items: flex-end;
text-align: right;

color: #FF6060;
}

/* _Body */
.d_home > .body
{
position: absolute;
width: 1240px;
height: 1095px;
left: 100px;
top: 171px;
}

/* _Section 1 */
.d_home > .body > .section_1
{
position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;
}


/* Mask Group */
.d_home > .body > .section_1 > .mask
{
position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;
}


/* Background */
.d_home > .body > .section_1 > .mask > .bg_1
{
position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;

background: #F7F7F7;
border-radius: 25px;
}

/* IMG */
.d_home > .body > .section_1 > .mask > img
{
position: absolute;
width: 1240px;
height: 1875px;
left: 100px;
top: -655px;

background: url(eric-muhr-P_XxsdVgtpQ-unsplash.jpg);
}

/* Background */
.d_home > .body > .section_1 > .mask > .bg_2
{
position: absolute;
width: 1240px;
height: 223px;
left: 100px;
top: 171px;

background: #000000;
mix-blend-mode: darken;
opacity: 0.3;
border-radius: 25px;
}

/* Chez vous, partout et ailleurs */
.body > .section_1 > .slogan
{
position: absolute;
left: 25.9%;
right: 25.14%;
top: 24.32%;
bottom: 69.04%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 142.6%;
/* or 68px */
display: flex;
align-items: flex-end;

color: #FFFFFF;
}

/* Gallery */
.d_home > .body > .gallery
{
position: absolute;
width: 1240px;
height: 829px;
left: 100px;
top: 437px;
}

/* Background */
.d_home > .body > .gallery > .bg_light
{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #F7F7F7;
border-radius: 25px;
}

/* .Thumb */
.d_home > .body > .gallery > .thumb_1
{
position: absolute;
left: 68.55%;
right: 4.03%;
top: 53.8%;
bottom: 5.19%;
}

/* .Thumb */
.d_home > .body > .gallery > .thumb_2
{
position: absolute;
left: 68.55%;
right: 4.03%;
top: 6.76%;
bottom: 52.23%;
}

/* .Thumb */
.d_home > .body > .gallery > .thumb_3
{
position: absolute;
left: 36.29%;
right: 36.29%;
top: 53.8%;
bottom: 5.19%;
}

/* .Thumb */
.d_home > .body > .gallery > .thumb_4
{
position: absolute;
left: 4.03%;
right: 68.55%;
top: 6.76%;
bottom: 52.23%;
}

/* .Thumb */
.d_home > .body > .gallery > .thumb_5
{
position: absolute;
left: 36.29%;
right: 36.29%;
top: 6.76%;
bottom: 52.23%;
}

/* .Thumb */
.d_home > .body > .gallery > .thumb_6
{
position: absolute;
left: 4.03%;
right: 68.55%;
top: 53.8%;
bottom: 5.19%;
}