
/* TEMPLATE */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light") , 
  url("../assets/fonts/static/Montserrat-Light.ttf")
  format("truetype");
}
@font-face {
  font-family: "Montserrat-bold";
  src: local("Montserrat-Bold") , 
  url("../assets/fonts/static/Montserrat-Bold.ttf")
  format("truetype");
}

html {
  box-sizing: border-box;
}
body,
body::before,
body::after,
body > *  {
  margin: 0;
  font-family: 
    'Montserrat',
    'Segoe UI', 'Roboto', 'Oxygen',
    sans-serif;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  color: #FF6060;
  height: 100%;
}
div, main, section, nav, header, span, footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer {
  padding: 15px;
  width: 100%;
  flex-direction: column;
  background-color: black;
  color: #fff;
  font-weight: lighter;
}
footer, header {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: bold;
}
footer > text {
  width: 90%;
}


/* HEADER  */
a {
  color: #FF6060;
  text-decoration: none;
}
nav {
  width: 90%;
  justify-content: flex-end;
}
.navigation {
  margin-left: 20px;

}
.navigation > a {
  border-bottom: 3px solid #fff;
}
.navigation > a:hover {
  border-bottom: 3px solid #FF6060;
}
header {
  flex-wrap: nowrap;
  margin: 20px 0 20px 0;
  width: 90%;
  justify-content: space-between;
}
nav > div {
  flex-wrap: nowrap;
}


/* HOME */
.page--home {
  width: 100%;
  align-self: stretch;
  flex-direction: column;
}
.content {
  min-height: 90vh;
  flex-grow: 1;
  width: 90%;
}
.card {
  height: 250px;
  width: 250px;
  margin: 20px;
}
.card > .cover > img, .layer{
  border-radius: 5%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  position: absolute;
}
.card > .title > h3 {
  font-size: medium;
  color: #fff;
  width: 70%;
  padding-left: 10px;
  z-index: 22;
}
.card > .title {
  position: absolute;
  height: 250px;
  width: 250px;
  align-items: end;
  justify-content: flex-start;
}
.layer {
  opacity: 0.6;
  z-index: 11;
  background: linear-gradient(transparent, transparent, black);
}
.layer:hover {
  opacity: 0;
}


/* CAROUSEL */
.page--house {
  flex-direction: column;
  width: 90%;
  flex-grow: 1;
}
.carousel {
  flex-wrap: nowrap;
  height: 415px;
  margin: 0 0 20px 0;
}
.carousel > div {
  position: absolute;
  flex-wrap: nowrap;
  z-index: -1;
  visibility: hidden;
}
.carousel > .carousel--current {
  z-index: 11;
  visibility: visible;
  width: 90%;
}
.carousel > div > img {
  object-fit: cover;
  border-radius: 20px;
  height: 415px;
  width: 100%;
}
.carousel > span:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  color: #fff;
}
.carousel > .btn {
  position: absolute;
  left: 45%;
  z-index: 22;
  align-self: flex-end;
  margin-bottom: 50px;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  justify-content: center;
  height: 45px;
  width: 10%;
}
.carousel > .btn--left {
  position: absolute;
  left: 5%;
  z-index: 22;
  justify-content: flex-start;
  height: 415px;
  width: 10%;
  border-radius: 20px 0 0 20px;
}
.carousel > .btn--right {
  position: absolute;
  right: 5%;
  z-index: 22;
  justify-content: flex-end;
  height: 415px;
  width: 10%;
  border-radius: 0 20px 20px 0;
}


/* HOUSING  */
.info--house {
  width: 90%;
}
.info--brief {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 20px;
  width: 100%;
}
.product ,.product--title{
  align-items: flex-start;
  flex-direction: column;
}
.product--container {
  height: 100%;
  align-items: start;
}
.product--location {
  font-size: small;
}
.product--tags {
  justify-content: flex-start;
  width: 100%;
}
.product--tags > .tag > h3 {
  font-size: small;
  color: #fff;
  border-radius: 20px;
  margin-right: 5px;
  padding: 10px 25px 10px 25px;
  background-color: #FF6060;
}
.host--container {
  justify-content: space-between;
  margin-top: 10px;
  flex-grow: 1;
  flex-wrap: nowrap;
}
.host--name > p {
  font-size: medium;
  padding: 2%;
  text-align: center ;
}
.host--picture > img {
  width: 70px;
  border-radius: 50%;
}


/* DROPDOWN LARGE */
.dropdown--large {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
  gap: 20px;
}


/* DROPDOWN MEDIUM */
.dropdown--medium {
  margin-bottom: 30px;
  gap: 20px;
  justify-content: space-between;
}


/* DROPDOWN */
.dropdown--container {
  cursor: pointer;
  width: 100%;
  align-self: stretch;
  align-items: flex-start;
}
.dropdown--container > .title {
  color: #fff;
  padding: 1px 16px 1px 16px;
  width: 100%;
  background-color: #FF6060;
}
.dropdown--container > .title > h3{
  font-size: medium;
}
.dropdown--container > div{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: whitesmoke;
}
.dropdown--container > .drop--open {
  border-radius: 0 0 10px 10px;
  margin-top: -20px;
  min-height: fit-content;
  align-items: center;
  align-self: stretch;

  z-index: -1;
}
.drop--close {
  display: none;
}
.arrow--close {
  transform: rotate(180deg);
}
.drop--open > p > span {
  justify-content: start;
}


/* ABOUT */
.page--about {
  width: 100%;
  flex-direction: column;
}
.tagline {
  width: 90%;
}
.unsplash--card {
  width: 100%;
  color: #fff;
} 
.unsplash--cover {
  width: 100%;
}
.unsplash--cover > img {
  width: 100%;
  height: 223px;
  border-radius: 20px;
  object-fit: cover;
}
.unsplash--title {
  position: absolute;
  font-size: 15pt;
  width: 65%;
  z-index: 22;
}
.unsplash--layer {
  border-radius: 20px;
  height: 223px;
  position: absolute;
  width: 90%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}


/* NOTFOUND */
.notfound {
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Montserrat-bold";
}
.text-big {
  font-weight: 500;
  font-size: 288px;
}
.text-medium {
  font-family: "Montserrat";
  font-size: 28px;
}
.text-small {
  font-family: "Montserrat";
  font-size: 22px;
}



/* MEDIA */
@media screen and (min-width: 950px) {
  .host--identity {
    order: -1;
  }
  .info--brief {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .background--home {
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    background-color: whitesmoke;
  }
  .host--container {
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 0;
    height: 100%;
  }
  .unsplash--title {
    font-size: 35px;
  }
  .dropdown--large {
    width: 75%;
  }
  .dropdown--medium {
    width: 100%;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .dropdown--container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .banner--logo > img {
    width: 80%;
  }
  .navigation {
    font-size: 12px;
    margin-left: 10px;
  }
  nav {
    margin-top: inherit;
  }
  .rating > span{
    width: 25px;
  }
}
