.page--house {
  flex-direction: column;
  width: 90%;
  flex-grow: 1;
}

.carousel {
  flex-wrap: nowrap;
  height: 50vh;
  margin: 0 0 20px 0;
  max-width: 1600px;
}

.carousel>div {
  position: absolute;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 90%;
  // max-width: 1600px;
}

.carousel>div>img {
  object-fit: cover;
  border-radius: 20px;
  height: 50vh;
  width: 100%;
}
// 


.carousel>span:hover {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  color: #fff;
}

.carousel>.btn {
  position: absolute;
  left: 45%;
  z-index: 22;
  align-self: flex-end;
  margin-bottom: 50px;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  justify-content: center;
  height: 45px;
  width: 10%;
}

.carousel>.btn--left {
  position: absolute;
  justify-content: flex-start;
  left: 5%;
  width: 10%;

  height: 50vh;
  border-radius: 20px 0 0 20px;
  z-index: 22;
}

.carousel>.btn--right {
  position: absolute;
  justify-content: flex-end;
  right: 5%;
  width: 10%;

  height: 50vh;
  border-radius: 0 20px 20px 0;
  z-index: 22;
}