@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Light") , 
    url("../../../assets/fonts/static/Montserrat-Light.ttf")
    format("truetype");
  }
  @font-face {
    font-family: "Montserrat-bold";
    src: local("Montserrat-Bold") , 
    url("../../../assets/fonts/static/Montserrat-Bold.ttf")
    format("truetype");
  }