html {
    box-sizing: border-box;
  }
  body,
  body::before,
  body::after,
  body > *  {
    margin: 0;
    font-family: 
      'Montserrat',
      'Segoe UI', 'Roboto', 'Oxygen',
      sans-serif;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    color: #000;
    height: 100%;
  }
  div, main, section, nav, header, span, footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }